.card_slider {

    &--container {

        max-width: 1280px;
        margin: 0 auto;
        height: 40vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &--item {
        margin-top: 1rem;
        margin-left: 1rem;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 2rem;
        width: 20%;

        &--title {
            text-align: center;
            font-size: $font-size-large;
        }

        &--image {
            height: 15vh;
            width: 100%;
            background-image: url('../img/defaultDiet.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 2rem 2rem 0 0;
        }

        &--price {
            text-align: center;

            &__first {
                font-size: 1.2rem;
            }

            &__second {
                font-size: 2.4rem;
            }
        }

        &--button {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            a {
                color: white;
                padding: .5rem 2rem;
                background-color: $color-main;
                text-decoration: none;
                border-radius: 2rem;
            }
        }
    }
}